---
BasedOnStyle: WebKit
AllowShortBlocksOnASingleLine: 'false'
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: 'false'
AllowShortLoopsOnASingleLine: 'false'
BreakBeforeBraces: Attach
ColumnLimit: '500'
ConstructorInitializerAllOnOneLineOrOnePerLine: 'true'
IndentWrappedFunctionNames: 'true'
MaxEmptyLinesToKeep: '2'
NamespaceIndentation: All
PointerAlignment: Left
SpaceBeforeParens: Never
SpaceInEmptyParentheses: 'false'
SpacesInAngles: 'false'
Standard: Cpp11
TabWidth: '4'
UseTab: Always
IndentCaseLabels: 'true'
SpaceAfterCStyleCast: 'true'
SpaceBeforeParens: ControlStatements
...
